<div class="container-fluid min-vh-100 d-flex flex-column justify-content-center align-items-center">
   
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-9 col-lg-6 col-xl-5">
          <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
            class="img-fluid" alt="Sample image">
        </div>
        <div class="col-md-9 col-lg-6 col-xl-5">
            <h4 class="mb-3">Enter your email to get reset link.</h4>
            <form action="/forgotPassword" method="POST">
                 <!-- Email input -->
                <div class="form-outline mb-4">
                    <input type="email" name="email" id="form3Example3" class="form-control form-control-lg"
                    placeholder="Enter a valid email address"  required/>
                    <label class="form-label" for="form3Example3">Email address</label>
                </div>
                  <!-- Submit button -->
                  <button type="submit" class="btn btn-primary btn-block mb-4">
                    Submit
                  </button>
            </form>
        </div>
    </div>
</div>