<div class="container-fluid min-vh-100 bg-dark text-light d-flex flex-column justify-content-center align-items-center">
    <h1 id="main-heading"></h1>
    <div class="options">
        <a href="/register" class="btn btn-primary px-5 mx-2 fw-bold">Register</a>
        <a href="/login" class="btn btn-success px-5 mx-2 fw-bold">Login</a>
    </div>
</div>
<script src="/js/AutoTypeAnimation.js"></script>